:root {
  --background: #ffffff;
  --foreground: #373740;
  --primary: #3f44a6;
  --secondary: #262626;
  --accent: #f2f2f2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Istok Web", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

button {
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
}

img,
svg {
  vertical-align: middle;
  display: block;
}

ul {
  list-style-type: none;
}

input {
  appearance: none;
  border: none;
  font: inherit;
  outline: none;
}

*:focus:not(:focus-visible) {
  outline: none;
}

*:focus-visible {
  outline: 2px dashed #f2637e;
  outline-offset: 3px;
}

.sr-only {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only:focus {
  background-color: var(--background);
  clip: auto;
  color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  overflow: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
