:root {
  --background: 255, 255, 255;
  --foreground: 38, 38, 38;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(var(--background));
  color: rgba(var(--foreground), 0.64);
  font-family: "Istok Web", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

span {
  display: inline-block;
}

button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* Header */

.global-header {
  background-color: rgb(var(--background));
  position: sticky;
  top: 0;
  z-index: 1;
}

.global-header__inner {
  display: flex;
  align-items: center;
  height: 64px;
}

.global-header__wrap {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .global-header__inner {
    justify-content: space-between;
  }

  .global-header__wrap {
    flex-grow: 0;
  }
}

/* Container */

.container {
  margin: 0 24px;
}

@media (min-width: 1024px) {
  .container {
    margin: 0 40px;
  }
}

@media (min-width: 1280px) {
  .container {
    margin: 0 auto;
    max-width: 1110px;
  }
}

/* Logo */

.logo {
  color: rgb(var(--foreground));
  font-size: 20px;
  line-height: 28px;
}

.logo__oblique {
  font-style: oblique;
}

.logo:hover .logo__oblique {
  font-style: normal;
}

/* Icon */

.icon {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 24px;
  width: 24px;
}

.icon--menu {
  background-image: url("list.svg");
}

[aria-expanded="true"] .icon--menu {
  background-image: url("x.svg");
}

.icon--plus {
  background-image: url("plus.svg");
}

/* Navigation */

.main-nav {
  background-color: rgb(var(--background));
  position: absolute;
  left: 0;
  right: 0;
  top: 48px;
}

.main-nav.collapse {
  display: none;
}

.main-nav__menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 12px 24px;
}

.main-nav__item {
  margin-top: 4px;
}

.main-nav__link {
  border-radius: 6px;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 16px;
}

.main-nav__link:hover {
  background-color: rgba(var(--foreground), 0.16);
}

.main-nav__cta {
  display: none;
}

@media (min-width: 1024px) {
  .main-nav {
    background-color: transparent;
    position: static;
  }

  .main-nav.collapse {
    display: block;
  }

  .main-nav__menu {
    flex-direction: row;
    padding: 0;
  }

  .main-nav__item {
    display: none;
  }

  .main-nav__cta {
    display: block;
  }
}

/* Button */

.button {
  border-radius: 6px;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 16px;
}

.button--theme-dark {
  background-color: rgb(var(--foreground));
  color: rgb(var(--background));
}

.button--theme-dark:hover {
  background-color: transparent;
  color: rgb(var(--foreground));
  outline: 1px solid rgb(var(--foreground));
}

@media (min-width: 1024px) {
  #button-menu {
    display: none;
  }
}

/* Section */

.section {
  padding: 48px 0;
}

.section--content-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.section--with-theme {
  background-color: rgb(214, 226, 251);
  border-radius: 6px;
  margin-top: 48px;
  padding: 48px 32px;
}

.section__wrap {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.section__title {
  color: rgb(var(--foreground));
  font-weight: 400;
}

.section__title span {
  font-style: oblique;
}

.section__title--medium {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}

.section__title--large {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 24px;
  max-width: 327px;
}

.section__title--cta {
  max-width: 100%;
}

.section__copy {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
  max-width: 550px;
}

.section__title--undistance,
.section__copy--undistance {
  margin-bottom: 0;
}

.section__body {
  max-width: 561px;
}

.section__image {
  display: none;
}

@media (min-width: 768px) {
  .section--with-theme {
    padding: 56px;
  }

  .section__title--large {
    font-size: 36px;
    line-height: 40px;
    max-width: 450px;
  }

  .section__title--cta {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .section {
    padding: 56px 0;
  }

  .section--with-theme {
    margin-top: 56px;
    padding: 64px;
  }

  .section--flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: -200px;
    padding-top: 0;
  }

  .section__wrap {
    gap: 56px;
  }

  .section__title--medium {
    font-size: 30px;
    line-height: 36px;
  }

  .section__title--large {
    font-size: 40px;
    line-height: 42px;
    max-width: 472px;
  }

  .section__title--cta {
    max-width: 100%;
  }

  .section__copy {
    margin-bottom: 32px;
    max-width: 600px;
  }

  .section__copy--undistance {
    margin-bottom: 0;
  }

  .section__image {
    display: block;
    flex-basis: 750px;
    z-index: -1;
  }
}

@media (min-width: 1280px) {
  .section {
    padding: 64px 0;
  }

  .section--with-theme {
    margin-top: 64px;
  }

  .section--flex {
    margin-top: -216px;
    padding-top: 0;
  }

  .section__wrap {
    gap: 64px;
  }

  .section__title--large {
    font-size: 48px;
    line-height: 48px;
    max-width: 575px;
  }

  .section__title--cta {
    max-width: 100%;
  }

  .section__copy {
    font-size: 20px;
    max-width: 670px;
  }
}

/* Partnership */

.partnership {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.partnership__copy {
  font-size: 14px;
  line-height: 24px;
}

.partnership__group {
  display: flex;
}

.partnership__item {
  background-color: rgb(var(--background));
  border: 1px solid rgba(var(--foreground), 0.32);
  border-radius: 100vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px;
}

.partnership__item + .partnership__item {
  margin-left: -6px;
}

.partnership__image {
  object-fit: contain;
  height: 24px;
  width: 24px;
}

@media (min-width: 1024px) {
  .partnership {
    margin-top: 56px;
  }
}

@media (min-width: 1280px) {
  .partnership {
    margin-top: 64px;
  }
}

/* Card */

.card-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 48px;
}

.card {
  display: flex;
  align-items: center;
  flex-basis: 296px;
  flex-direction: column;
  gap: 10px;
}

.card--with-theme {
  align-items: stretch;
  background-image: url("decorative.png"),
    linear-gradient(rgba(214, 226, 251, 42), rgb(var(--background)));
  background-size: contain;
  border: 1px solid rgb(214, 226, 251);
  border-radius: 6px;
  height: 256px;
  padding: 36px;
  text-align: left;
}

.card--ghost {
  display: none;
}

.card__title {
  color: rgb(var(--foreground));
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .card__group {
    margin-top: 56px;
  }

  .card__title {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 1280px) {
  .card-group {
    margin-top: 64px;
  }

  .card {
    align-items: stretch;
    text-align: left;
  }

  .card--ghost {
    display: block;
  }
}

/* Slide */

.slide {
  margin-top: 48px;
  position: relative;
}

.slide__item {
  display: none;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide__item.active {
  display: flex;
  opacity: 1;
}

.slide__quote {
  font-size: 20px;
  line-height: 28px;
  max-width: 532px;
}

.slide__cite {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  font-style: normal;
}

.slide__cite img {
  border-radius: 100vmax;
  height: 40px;
  width: 40px;
}

.slide__cite div p:first-child {
  color: rgb(var(--foreground));
}

.slide__navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 36px;
  left: 50%;
  transform: translateX(-50%);
  width: 86%;
}

@media (min-width: 1024px) {
  .slide {
    margin-top: 56px;
    width: 100%;
  }

  .slide__item {
    gap: 32px;
  }

  .slide__navigation {
    bottom: 70%;
    max-width: 968px;
    width: 92%;
  }
}

@media (min-width: 1280px) {
  .slide {
    margin-top: 54px;
  }
}

/* Footer */

.footer {
  padding: 64px 0 24px;
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 8px;
}

.footer__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
  line-height: 24px;
}

.footer__item:first-child {
  max-width: 256px;
}

.footer__item--special {
  justify-content: space-between;
  gap: 24px;
}

.footer__item a:hover {
  color: rgb(var(--foreground));
}

.footer__form {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.footer__input {
  border: 1px solid rgb(var(--foreground));
  border-radius: 6px;
  color: rgb(var(--foreground));
  font: inherit;
  padding: 8px 16px;
}

@media (min-width: 768px) {
  .footer {
    padding-bottom: 32px;
  }

  .footer__wrap {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__item:not(:last-child) {
    flex-shrink: 0;
  }
}
